*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: black;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
}

header .inner{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

img{
    width: 60px;
    height: auto;
    padding-bottom: 1rem;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #b88746;
    font-family: 'Academy Engraved LET', sans-serif;                                
    font-size: 50px;
    padding-top: 3rem;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.section1 {
    background-image: url(/images/headphones.jpeg);
    background-size: cover;
    height: 700px;
}

.info {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 7rem;
}

.section2 {
    height: 600px;
    width: 100%;
    background-color: black;
    
}

h1 {
    color: #03a9f4;
    text-align: center;
    font-size: 50px;
    padding-top: 5rem;
}
h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 2rem;
}

.buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.box {
    height: 13rem;
    width: 15rem;
    font-size: 3rem;
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding-top: 7rem;
}
.section3 {
    height: 700px;
    width: 100%;
    background-color: black;
}

h3 {
    color: #03a9f4;
    text-align: center;
    font-size: 50px;
    padding-top: 5rem;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}

.contact-input{
    width: 50%;
    padding: 1rem;
    outline: none;
    border: none;
    color: black;
    border-radius: .5rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
}

.contact-text{
    color: #03a9f4;
    font-size: 30px;
    margin-bottom: 0.5rem;
}
.contact-text2{
    color: white;
    font-size: 20px;
}


.contact{
    display: flex;
    flex-direction: column;
}

.contact2{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.contact-button{
    display: inline-block;
    padding: 1rem 2rem;
    margin-left: 15rem;
    cursor: pointer;
}

.footer{
    height: 100px;
    background-color: black;
    text-align: center;
    padding-top: 5rem;

}

.footerText{
    color: white;
    padding-top: 5rem;
}